<ion-view view-title="About">
  <ion-content>
      <h2>About This App</h2>
      <p>
        This project was created as a Capstone Project for the Coursera Full Stack Web Development Course.
      </p>

      <p>
        It uses the Web Audio API to create a chord based synthesizer in the browser. There is also a mobile version of the app that was developed using Ionic.
      </p>

      <p>
        The synth is pretty basic to start with. I spent most of my time learning the
        Web Audio API, Javascript, and running though creating an app using the methods
        learned throughout the course.
      </p>
  </ion-content>
</ion-view>
